/* Home.css */
.home-page .header-section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./Images/home-bg.jpg);
    position: relative;
}

.home-page .header-text h1 {
    font-size: 75px;
    margin-top: 20%;
    color: white;
}

.home-page .header-text p {
    margin: 0;
    font-size: 20px;
}

.home-page .btn {
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.home-page .btn:hover {
    background-color: white;
    color: black;
}

/****** middle-sect ******/
.home-page .slider {
    margin: 40px 0;
}

.home-page .img-slider {
    width: 100vw;
}

.home-page .btn-align {
    text-align: center;
}

.home-page .form-btn {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
}

/**** Boba ****/
.home-page .boba {
    display: flex;
    gap: 70px;
    margin: 40px 0;
}

.home-page .col-1 h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
    text-align: center;
}

.home-page .col-1 p {
    font-size: 20px;
    color: black;
}

.home-page .col-2 img {
    border-radius: 10px;
}

/**** Contact ****/
.home-page .contact {
    display: flex;
    gap: 100px;
    margin: 40px 0;
    justify-content: center;
}

.home-page .left h1 {
    font-size: 35px;
    color: black;
}

.home-page .left {
    flex-basis: 35%;
}

.home-page .right {
    flex-basis: 70%;
}

.home-page form input,
.home-page form textarea {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
    border-color: transparent;
}

.home-page form .form-btn {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
}
